<template name="findWorker">
    <div class="container-fluid">
        <div class="row" id="wrapper">
            <div class="row" id="findWorkTitleRow">
                <div class="col-xs-12">findWorkTitleRow</div>
            </div>
            <div class="row" id="findWorkSearchRow">
                <div class="col-xs-12">findWorkSearchRow</div>
            </div>
        </div>
        <div class="row" id="findWorkMainDisplay">
            <div class="col-xs-3" id="findWorkMainFilters">findworkmainfilters</div>
            <div class="col-xs-9" id="findWorkMainResults">
                <div class="row">
                    <div class='cos-xs-12' id="findWorkMainResultsTitle">findWorkMainResultsTitle</div>
                </div>
                <div class="row" id="findWorkMainResultsContainer">
                    <div class='cos-xs-12 workOpportunity'>
                        workop
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</template>